@import '~@angular/material/theming';

:host, .content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.sidenav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 350px;
}

nav {
  display: flex;
  flex-direction: column;
  flex: 1;
}

mat-nav-list {
  flex: 1;
  overflow-y: auto;
}

mat-form-field.search {
  margin-bottom: -1.25em;
}

a.active {
  background-color: mat-color(mat-palette($mat-indigo)) !important;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}
