<div class="sidenav">
  <mat-toolbar color="primary">
    <span>NGX-MAPBOX-GL</span>
    <mat-slide-toggle
      [ngModel]="isEditing"
      (ngModelChange)="toggleEdit()"
    >
      Edit!
    </mat-slide-toggle>
  </mat-toolbar>
  <nav>
    <mat-nav-list>
      <ng-container *ngFor="let cat of categories">
        <h3 matSubheader>{{cat}}</h3>
        <a
          *ngFor="let route of $any(routes)[cat]"
          mat-list-item
          [routerLink]="'/'+(isEditing ? '/edit/' : '')+route.path"
          routerLinkActive="active"
        >
          {{route.data.label}}
        </a>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-nav-list>
  </nav>
</div>
<section class="content">
  <router-outlet></router-outlet>
</section>
