@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~maplibre-gl/dist/maplibre-gl.css';
@import '~prismjs/themes/prism-okaidia.css';

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
