@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css';
@import '~prismjs/themes/prism-okaidia.css';

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
