@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~prismjs/themes/prism-okaidia.css';

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  flex-grow: 1;
}
