<showcase-layout-toolbar-menu position="left">
  <button class="menu-button" mat-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
</showcase-layout-toolbar-menu>
<showcase-layout-toolbar-menu position="right">
  <mat-slide-toggle
    color="accent"
    [(ngModel)]="isEditMode"
    (change)="toggleEdit($event)"
  >
    Edit!
  </mat-slide-toggle>
</showcase-layout-toolbar-menu>
<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="side"
    [opened]="sidenavIsOpen"
    (openedChange)="onSidenavChange()"
  >
    <div class="sidenav-content">
      <mat-form-field class="search" subscriptSizing="dynamic">
        <input
          matInput
          type="text"
          placeholder="Search"
          [(ngModel)]="searchTerm"
        />
        @if (searchTerm()) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="searchTerm.set('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
      <div class="list">
        <mat-nav-list>
          @for (cat of categories; track cat) {
            <h3 matSubheader>{{ cat }}</h3>
            @for (route of routesByCategory()[cat]; track route) {
              <div class="link">
                <a
                  mat-list-item
                  [routerLink]="
                    '/demo/' + (isEditMode ? '/edit/' : '') + route.path
                  "
                  routerLinkActive="active"
                  (isActiveChange)="scrollInToActiveLink($event, exampleLink)"
                  [routerLinkActiveOptions]="
                    $any({
                      _routerLinkActiveWakeUpHack_: isEditMode,
                    })
                  "
                  #exampleLink
                >
                  {{ route.data?.['label'] }}
                </a>
                @if (!route.data?.['label'].startsWith('[NGX]')) {
                  <a
                    mat-icon-button
                    href="https://docs.mapbox.com/mapbox-gl-js/example/{{
                      route.path
                    }}"
                    target="_blank"
                    class="mapbox-icon"
                  >
                    <mat-icon svgIcon="mapbox" />
                  </a>
                }
              </div>
            }
            <mat-divider />
          }
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <section class="content">
      <router-outlet />
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
