@use '@angular/material' as mat;

:host,
.content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.sidenav-content {
  width: 345px;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

// mat-nav-list {
//   overflow-y: auto;
// }

mat-sidenav-container {
  flex: 1;
}

.content {
  height: 100%;
}

mat-form-field.search {
  width: 100%;
}

a.active {
  --mdc-list-list-item-label-text-color: white;
  --mdc-list-list-item-hover-label-text-color: white;
  --mdc-list-list-item-focus-label-text-color: white;
  background-color: mat.m2-get-color-from-palette(
    mat.m2-define-palette(mat.$m2-indigo-palette)
  ) !important;
}

h3 {
  padding-top: 8px;
  margin-bottom: 4px;
  padding-inline-start: 8px;
  font-weight: bold;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-inline: 6px;
  padding-bottom: 4px;
}

.mapbox-icon {
  color: black;
}
