name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2

      - name: Prepare
        run: npm install

      - name: Build
        run: npm run build

      - name: Build showcase
        run: npm run build:showcase

      - name: Run unit tests
        run: npm run test -- ngx-maplibre-gl --watch=false --no-progress --browsers=ChromeHeadless

      - name: Run lint
        run: npm run lint
        
      - name: Run e2e tests
        run: npm run e2e
